html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
button,
input[type='submit'] {
  background: transparent;
  border: transparent 0 none;
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
}

/* site header */
#site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
  height: 18rem;
  width: 100vw;
}
#site-header::before {
  content: '';
  height: inherit;
  width: inherit;
  background-color: whitesmoke;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  top: 0;
}
#site-header h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 4rem;
  margin-top: 1.5rem;
}
#city-container {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  align-items: flex-start;
}
#city-infos {
  display: flex;
  align-items: center;
  height: 3rem;
}
#city-name,
.search-city-suggestion {
  margin: 0 1rem;
  font-weight: 600;
}
.country-iso {
  font-weight: 300;
  margin-left: 0.5rem;
}
#reload-btn {
  font-size: 1.6rem;
  color: darkcyan;
}
#reload-btn:hover {
  color: cyan;
}
/* search form */
#search-city-form {
  display: flex;
  align-items: flex-start;
  margin-left: 1rem;
}
#search-city-form input[type='submit'] {
  margin-left: 1rem;
  height: 3rem;
  background: darkcyan;
  padding: 0.2rem 0.8rem 0 0.8rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
}
#search-city-form input[type='submit']:hover {
  background: cyan;
}
#search-city-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 25rem;
  height: 5rem;
}
#search-city-input {
  width: inherit;
  box-sizing: border-box;
}
#search-city-list {
  position: absolute;
  top: 3rem;
  background: wheat;
  z-index: 1;
  width: inherit;
}
#search-city-list li {
  cursor: pointer;
  margin: 0.3rem 0;
}

/* switch temperature unit */
#switch-temp-container {
  position: relative;
  display: grid;
  grid-template-columns: 7rem auto 7rem;
  align-items: center;
}
#switch-temp-checkbox {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
#switch-temp-checkbox + label {
  position: relative;
  margin: 0 0.5rem;
  width: 4.6rem;
  height: 2.2rem;
  cursor: pointer;
}
#switch-temp-checkbox:not(:checked) + label::before,
#switch-temp-checkbox:checked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  box-sizing: border-box;
  height: inherit;
  border: rgb(161, 161, 129) solid 0.2rem;
  border-radius: 1rem;
  background-color: rgb(182, 182, 154);
  display: inline-block;
}

#switch-temp-checkbox:not(:checked) + label::after,
#switch-temp-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.9rem;
  background-color: rgb(236, 236, 204);
  transition: transform 0.15s ease-in-out;
}

#switch-temp-checkbox:not(:checked) + label::after {
  transform: translate(0, 0);
}
#switch-temp-checkbox:checked + label::after {
  transform: translate(2.4rem, 0);
}
#switch-temp-checkbox:checked + label::before {
  background-color: rgb(24, 179, 190);
}
.switch-temp-text:nth-of-type(1) {
  justify-self: right;
}
.switch-temp-text:nth-of-type(2) {
  justify-self: left;
}
.text-bold {
  font-weight: 600;
}

/* today current weather */
#today-container {
  height: 32rem;
  width: 53rem;
}
#week-container {
  height: 20.5rem;
  width: 63rem;
}
#today-container,
#week-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2rem auto 0 auto;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
}
#today-container::before,
#week-container::before {
  content: '';
  height: inherit;
  width: inherit;
  padding: inherit;
  border-radius: inherit;
  background-color: rgb(215, 236, 247);
  opacity: 0.5;
  z-index: -1;
  position: absolute;
  top: 0;
}
#date-time,
#week-container-title {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Josefin Slab', serif;
  margin-bottom: 1rem;
}
#current-weather-container {
  display: flex;
  margin-bottom: 2rem;
}
.weather-icon {
  transform: scale(1.5, 1.5);
}
#current-weather-icon {
  object-fit: contain;
  width: 10rem;
  height: 10rem;
}
#current-weather-details {
  margin-left: 1rem;
}
#current-weather-temp {
  display: flex;
  align-items: center;
}
#current-weather-temp .temp-value {
  font-size: 6rem;
}
#current-weather-temp .temp-unit {
  font-size: 2rem;
  align-self: flex-start;
  margin-top: 0.9rem;
}
#current-weather-temp .ui-icon {
  font-size: 4rem;
  margin-left: 0.5rem;
}

/* hourly weather */
#hourly-weather-container {
  display: flex;
}
.hourly-weather-li,
.daily-weather-li {
  display: grid;
  grid-template-rows: auto auto 5rem auto;
  align-items: center;
  justify-items: center;
  text-align: center;
  width: 8rem;
  padding: 0.4rem;
  border-right: solid 1px black;
}
.hourly-weather-li:last-of-type,
.daily-weather-li:last-of-type {
  border-right: solid 0 transparent;
}
.hourly-weather-hour,
.daily-weather-day {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Josefin Slab', serif;
}
.hourly-weather-icon,
.daily-weather-icon {
  width: 70%;
}
.hourly-weather-desc,
.daily-weather-desc {
  font-size: 1.6rem;
  line-height: 1.4rem;
}
.hourly-weather-temp .temp-unit,
.daily-weather-temp .temp-unit {
  font-size: 1.2rem;
  vertical-align: top;
}

/* daily weather */
#daily-weather-container {
  display: flex;
  width: max-content;
}

/* footer */
#site-footer {
  background: rgb(23, 18, 54);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
#site-footer p {
  text-align: center;
  color: whitesmoke;
  margin: 1rem auto;
}
#site-footer a {
  color: cyan;
  text-decoration: none;
}
#site-footer a:visited {
  color: palevioletred;
}
#site-footer a:hover {
  color: lightgreen;
}

/* mobile max-width: 600px */
@media screen and (max-width: 650px) {
  html {
    font-size: 1.5vw;
  }
}
