html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

/* site header */
#site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
#city-name {
  margin-right: 1rem;
}
#city-container {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  align-items: center;
}
.country-iso {
  font-weight: bold;
  margin-left: 0.5rem;
}

/* search form */
#search-city-form {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
#search-city-form input[type='submit'] {
  height: auto;
  cursor: pointer;
  margin-left: 1rem;
}
#search-city-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#search-city-list li {
  cursor: pointer;
}

/* switch temperature unit */
#switch-temp-container {
  position: relative;
  display: grid;
  grid-template-columns: 7rem auto 7rem;
  align-items: center;
}
#switch-temp-checkbox {
  position: absolute;
  left: 0;
  opacity: 0.01;
}
#switch-temp-checkbox + label {
  position: relative;
  margin: 0 0.5rem;
  width: 4.6rem;
  height: 2.2rem;
  cursor: pointer;
}
#switch-temp-checkbox:not(:checked) + label::before,
#switch-temp-checkbox:checked + label::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: inherit;
  box-sizing: border-box;
  height: inherit;
  border: rgb(161, 161, 129) solid 0.2rem;
  border-radius: 1rem;
  background-color: rgb(182, 182, 154);
  display: inline-block;
}

#switch-temp-checkbox:not(:checked) + label::after,
#switch-temp-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.9rem;
  background-color: rgb(236, 236, 204);
  transition: transform 0.15s ease-in-out;
}

#switch-temp-checkbox:not(:checked) + label::after {
  transform: translate(0, 0);
}
#switch-temp-checkbox:checked + label::after {
  transform: translate(2.4rem, 0);
}
#switch-temp-checkbox:checked + label::before {
  background-color: rgb(24, 179, 190);
}
.switch-temp-text:nth-of-type(1) {
  justify-self: right;
}
.switch-temp-text:nth-of-type(2) {
  justify-self: left;
}

/* today current weather */
#date-container {
  margin-bottom: 1rem;
}
#today-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  width: min-content;
  background-color: rgb(215, 236, 247);
  padding: 1rem;
  border-radius: 1rem;
}
#current-weather-container {
  display: flex;
  margin-bottom: 2rem;
}

/* hourly weather */
#hourly-weather-container {
  display: flex;
}
.hourly-weather-li {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hourly-weather-li:nth-of-type(even) {
  background: cornflowerblue;
}
.hourly-weather-li:nth-of-type(odd) {
  background-color: powderblue;
}

/* daily weather */
#daily-weather-container {
  display: flex;
  width: max-content;
  margin: auto;
}
.daily-weather-li {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.daily-weather-li:nth-of-type(2n) {
  /* or eveh */
  background: lightcoral;
}
.daily-weather-li:nth-of-type(odd) {
  background: plum;
}

/* footer */
#site-footer {
  background: rgb(23, 18, 54);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  position: fixed;
  bottom: 0;
  z-index: 2;
}
#site-footer p {
  text-align: center;
  color: whitesmoke;
  margin: 1rem auto;
}
#site-footer a {
  color: cyan;
  text-decoration: none;
}
#site-footer a:visited {
  color: palevioletred;
}
#site-footer a:hover {
  color: lightgreen;
}
